
.icecream-product-img img{
    max-width: 90%;
    height: auto;
}

.border{
    margin: 25px;
}

.hide{
    display: none;
}

.box-one{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;
}

.cart-info{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    line-height: 18px;
    /* display: flex;
    flex-direction: column; */
}



/* .cart-info li:nth-last-child(2){
    color: tomato;
    align-self: flex-end;
    margin-right: 50px;
}

.cart-info li:nth-last-child(4){
    color: tomato;
    
} */ 



.align{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input{
    margin-right: 50px;
    width: 35px;
    border: none;
    border-bottom: 1px solid black;
}


.box-pink{
    background-color:#F1D5D8 ;
    border-radius: 30px;
    padding: 2px;
    margin-top: 50px;
}

.box-pink ul{
    margin: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.coupon{
    text-align: center;
}

