
/*  The header and Footer section will be the same as main.css */


/* ------------------

     Mobile Styles 

---------------------*/

/* --------- Product Information Section ------ */

/* -Used CSS grid in the product description section to create a 2 column layout
   - Used display:none on the product info items that will not be shown in the mobile version
   - Used display flex on one of the product info components to align them.
*/
.icecream-product-img img{
    max-width: 90%;
}

.row{
    margin: 25px;
}

.row-same{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;
}

.quantity, .price, .cost, .value{
    display: none;
}

   
.product-description{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    line-height: 18px;
}

.prod-desc-two{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.name{
    font-weight: bold;
}

.desc{
    font-weight: lighter;
}
input{
    margin-right: 50px;
    width: 35px;
    border: none;
    border-bottom: 1px solid black;
}

/* --------- End Product Information Section ------ */

/* ---------- Sub total section ------ */
/* - Used Flexbox on the product amount to align the items and add space between them. 
   - Used Css transition on the hover state of the next button.
   - Used box-shadow property on the button to create a shadow under the button. */

.box-pink{
    background-color:#F1D5D8 ;
    border-radius: 30px;
    padding: 2px;
    margin-top: 50px;
}

.prod-amount{
    margin: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.coupon, .next{
    text-align: center;
    margin-top: 20px;
}


.next{
    width: 120px;
    padding: 10px;
    background-color: #0B5375;
    border-radius: 20px;
    /* margin-left: 150px; */
    margin-left: 34%;
    box-shadow: 5px 10px 18px #888888;
}
.next a{
    text-decoration: none;
    color: white;
    font-family:'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.next:hover{
    background-color:#1275a3 ;
    transition: background-color 1s ease-out 0.4s;
}

.coupon{
    font-family:'Josefin Sans', sans-serif;
}

/* ----------End Sub total section ------ */



/* -------------------

    TABLET STYLES 

---------------------*/


/* Used media queries to show responsive state */

@media screen and (min-width: 600px) {

/* --------- Product Information Section ------ */

/*  - Used display none to hide the product-info that will
      only be shown in the mobile version and not the tablet/desktop version.
    - Used CSS Grid to create a 1 column, 2 rows layout to position the image above the
      product information table. 
    - Used display Flex to change the direction of the product information so it displays in a column  */

    .prod-desc-two{
        display: none;
    }

    .quantity, .price, .cost, .value{
        display: unset;
    }

    .prod-desc{
        font-size: 18px;
    }

    .row-same{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .icecream-product-img img{
        max-width: 30%;
    }

    .product-description{
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .prod-desc{
        margin: 10px;
    }

    .prod-desc-three{
        display: flex;
        flex-direction: column;
    }
    .value{
        margin-top: 40px;
    }

    input{
        width: 70px;
    }

    .prod-desc-four{
        display: flex;
        flex-direction: column;
    }

    .cost{
        margin-top: 40px;
    }

   /*----------- Coupon section ------  */

   .coupon{
       text-align: left;
   }
   .next{
       margin-left: 40%;

   }
   
}


/* ---------------------

      DESKTOP STYLES

----------------------*/

/* Used media queries to show responsive state */

@media screen and (min-width: 1100px) {

    /* - Changed the layout of the product description and image by using CSS Grid to create
          a 2 column and 1 row layout so they align next to eachother */
    .row-same{
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    }

    .icecream-product-img img{
        max-width: 100%;
        margin-top: 10px;
       
    }

    .desc{
        margin-top: 20px;
    }

    .value, .cost{
        margin-top: 60px;
    }
   
    .prod-amount{
        font-size: 18px;
    }

    .next{
        margin-left: 45%;
 
    }
}