.product {
    display: none;
}

h1 {
    color:#5C7185 ;
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.im-menu-list {
    margin-left: 25px;
}


.card-cone {
    /* width: 89%;
    height: 290px; */
    padding: 100px;
    height: auto;
    margin: 25px;
    /* background-image: url(../images/photo-1554521718-e87e96d67ca5.jpg); */
    background-image: url(../images/photo-1554521718-e87e96d67ca5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

section.img p {
    text-align: center;
    margin: 35px;
    line-height: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.paragraph-detail {
    color: #C2C2C2;
}

h2,
section.nutritional-info p {
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    /* margin-bottom: 25px; */
    color: #7F7F7F;
    margin-top: 100px;
    display: unset;
    margin-left: 8%;

}

section.nutritional-info p {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    margin: 30px 35px 90px 35px;
}

/* ---------------------------
 
         TABLET STYLES 

------------------------------*/

@media screen and (min-width: 600px) {

    .im-menu-list {
        display: none;
    }

    .grid-layout {
        display: grid;
        /* grid-template-columns: 1fr 1fr;
        column-gap: 2rem; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "area1 area2"
        "area3 area3";
    }
    .product{
        grid-area: area3;
    }

    .card-cone {
        /* width: 89%;
        height: 290px; */
        padding: 200px;
        height: auto;
        margin: 25px;
        
    }

    section.img p{
        text-align: left;
    }

    section.img .paragraph-detail{
        text-align: center;
    }

    section.nutritional-info p {
        text-align: left;
    }

    .product {
        display: unset;

    }

    .product-list {
        display: flex;
        border: 1px solid black;
        padding: 40px;
        margin: 0px 30px 0px 30px;
        justify-content: space-evenly;
        font-family: 'Josefin Sans', sans-serif;
    }

    .hidden{
        display: none;
    }



}







/* -----------------------------

        DESKTOP STYLES 

----------------------------------*/


@media screen and (min-width: 1100px) {

    h1{
        margin-bottom: 60px;
    }
    .grid-layout {
        display: grid;
        /* grid-template-columns: 1fr 1fr;
        column-gap: 2rem; */
        grid-template-columns: 1fr 2fr 1.5fr;
        /* grid-template-rows: 1fr; */
        grid-template-areas: 
        "area1 area2 area3";
    }
    .hidden{
        display: unset;
    }

    .product{
        grid-area: area1;
    }
    .product-list {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 40px;
        /* margin: 0px 30px 0px 30px; */
        justify-content: space-evenly;
    }

    .product-list .list{
        margin-bottom: 35px;
    }

    .card-cone{
        margin:0px;
    }

    section.img .paragraph-detail{
        margin-bottom: 170px;
    }
    
    
}   