
/*  The header and Footer section will be the same as main.css */


/* ---------------------
     MOBILE STYLES 
----------------------*/

/* Used display:none on the product section to hide  products in the mobile version */

.product {
    display: none;
}

/*--------  H1 and second hamburger icon font-------  */

/* Used hamburger menu icon font to indicate product list for the mobile version */



h1 {
    color: #5C7185;
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.im-menu-list {
    margin-left: 25px;
}


/*-------- End H1 and second hamburger icon font-------  */

/* ------------ Image Section ------------- */

/* Addded a background image in card section */

.card-cone {
    padding: 100px;
    padding-top: 130px;
    margin: 25px;
    background-image: url(../images/photo-1554521718-e87e96d67ca5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 82%;
}

section.img p {
    text-align: center;
    /* margin: 35px; for desktop */
    margin: 50px;
    line-height: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.paragraph-detail {
    color: #C2C2C2;
}

/* ------------End Image Section ------------- */

/* -------------- Nutritional Information Section ------------ */


h2, section.nutritional-info p {
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    /* margin-bottom: 25px; */
    color: #7F7F7F;
    margin-top: 100px;
    /* display: unset; */
    /* margin-left: 8%; */
}


section.nutritional-info p {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    margin: 30px 35px 90px 35px;
}

/* -------------- End Nutritional Information Section ------------ */



/* ---------------------------
 
         TABLET STYLES 

------------------------------*/

/* Used media queries to show responsive state */

@media screen and (min-width: 600px) {


    /*--------  H1 and second hamburger icon font-------  */

    .im-menu-list {
        display: none;
    }

    /*-------- End H1 and second hamburger icon font-------  */


    /*  ---------------- Image - Nutritional Information - Product Section -----------------*/

/* -Used display:unset to make the product section visible for the tablet version
   - Used CSS Grid to create a 2 column, 1 row layout and used grid-template-areas to 
    place each section appropriately. */
   
    .product {
        display: unset;

    }
   .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "area1 area2"
        "area3 area3";
    }
    .product{
        grid-area: area3;
    }

    .img{
        grid-area: area1;
    }

    .nutritional-info{
        grid-area: area2;
    }

   /* ----- Image Section----- */

   .card-cone {
        padding: 200px;
        margin: 25px;
    }

    section.img .paragraph-detail{
        text-align: center;
    }

    section.img p{
        text-align: left;
        margin: 35px;
    }

    /* ----- End Image Section----- */

    /* ---- Nutritional Information Section ---- */

    h2{
        display: unset;
        margin-left: 8%;
    }

    section.nutritional-info p {
        text-align: left;
    }

   /* ---- End Nutritional Information Section ---- */

   /* ---- Product Section ---- */

   /*-Used Display flex to align all the product names
     - Also used display none to hide the rest of the product list which will be 
       visible in the desktop version */

    .product-list {
        display: flex;
        border: 1px solid black;
        padding: 40px;
        margin: 0px 30px 0px 30px;
        justify-content: space-evenly;
        font-family: 'Josefin Sans', sans-serif;
    }

    .hidden{
        display: none;
    }

   /* ---- End Product Section ---- */

} 
   /*  ----------------End Image - Nutritional Information - Product Section -----------------*/





/* -----------------------------

        DESKTOP STYLES 

----------------------------------*/

/* Used media queries to show responsive state */

@media screen and (min-width: 1100px) {

    h1{
        margin-bottom: 60px;
    }

/*  ---------------- Image - Nutritional Information - Product Section -----------------*/

/* -Used CSS Grid to chnage the layout but introducing a 3 column layout and using grid-template-areas to place 
the sections appropriately  */

    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        grid-template-areas: 
        "area1 area2 area3";
    }
    .hidden{
        display: unset;
    }

    .product{
        grid-area: area1;
    }

    .img{
        grid-area: area2;
    }

    .nutritional-info{
        grid-area: area3;
    }

 /*  ----------------End Image - Nutritional Information - Product Section -----------------*/   


   /* ----- Image Section----- */

    .card-cone {
        padding-top: 300px;
        margin: 0px;
    }

    section.img .paragraph-detail{
        margin-bottom: 70px;
    }

    /* ----- End Image Section----- */
    
    /* ---- Product Section ---- */
    
    /* Used display flex to place the product list in a column  */
   .product-list {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 40px;
        /* margin: 0px 30px 0px 30px; */
        justify-content: space-evenly;
    }

    .product-list .list{
        margin-bottom: 35px;
    }

    /* ----End Product Section ---- */
    
}   