/* --------------
     CSS RESET
-----------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------
     END CSS RESET
---------------------*/





/* ----------------------
      MOBILE STYLES
-------------------------*/

/* ------------ Header Section ----------- */

/* Used display flex on the header to align the logo and the hamburger icon and 
used display none on the nav tag to hide the navigation  */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.logo {
    width: 60%;
    margin-left: 30px;
}

.im-menu {
    align-self: flex-start;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 26px;
}

nav {
    display: none;
}

/* ------------- End Header Section----------- */

/* ----------- Banner Section----------*/


.banner-img {
    background-image: url(../images/photo-1515037028865-0a2a82603f7c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
}

.banner-img p {
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

/* ------------ End Banner Section -------- */

/* ------------- Card Section ----------- */

/* Added CSS Transition property on the hover state for the white background for h1 */

.card {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    height: auto;
    margin: 25px;
}

h1 {
    text-align: center;
    padding: 25px;
}

.white-back{
    box-sizing: border-box;
    background-color: white;
    opacity: 0.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    transition: background-color 0.8s;
}

.white-back:hover{
    background-color: #c47c85;
    transition: background-color 0.8s;
}


.gallery h1 {
    margin-top: 50px;
}

.gallery {
    background-image: url(../images/photo-1591636687027-a157c53387cd.jpg);
    padding-bottom: 90px;
    margin-top: 40px;
}

.cream {
    background-image: url(../images/photo-1588195539297-f0b4efdb5472.jpg);
}

.team {
    background-image: url(../images/photo-1551645701-0e68cfc880f0.jpg);
    margin-bottom: 40px;
}

/* ------------- End Card Section ----------- */

/* ------------ Promotional Banner Section ----------  */

/* Used display none for the title and second paragraph in the promotion section - Used the 
transition property on the hover state for the order now anchor tag  */

.conceal,
.second {
    display: none;
}

.promotion {
    background-image: url(../images/photo-1578170265282-b1b1f64a72bf.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 60px;
    background-color: #d8a7a0;
    box-sizing: border-box;
}

.promotion p {
    color: white;
    text-align: center;
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.order {
    text-align: center;
    margin-top: 30px;
    width: 120px;
    padding: 10px;
    margin-left: 30%;
    background-color: #0B5375;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}

.order a{
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

.order:hover {
    background-color:#1275a3 ;
    transition: background-color 1s ease-out 0.4s;
}

/* ---------------- End Promotional Banner section ----------- */

/* ----------- Footer ----------- */
/* Used social media and payment icon fonts  and also used display flex on the footer-nav and 
payment icons to align them */

footer {
    background-color: #C21C30;
    margin-top: 40px;
    padding-bottom: 10px;
}

.sm {
    width: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

.social {
    padding: 30px 0px 0px 60px;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-nav {
    margin-left: 20px;
}

.nav-payment{
    display: flex;
    justify-content: space-between;
}

.payment{
    margin-right: 20px;
}

.im-cc-paypal{
    color: #2DABE6;
    font-size: 35px;
}

.im-cc-visa{
    color: white;
    font-size: 35px;
}

/* ------------ End Footer ------------ */



/*--------------------------
       TABLET STYLES 
----------------------------*/

/* Used media queries to show responsive state */

@media screen and (min-width: 600px) {

    /* ---------- Header Section ---------- */

    /* Increased the size of the logo */

    .logo {
        width: 60%;
    }

    .banner-img {
        padding: 60px;
    }

    /* ------------ End Header Section -------- */

    /*-------------- Card Section----------  */

    /* Used margin 0px auto to center the card section, the footer-nav, social media icons and the 
    payment icons - Used CSS Grid to create a two column and 1 row layout for the card section and
    grid-template areas to section each card appropriately  */
    
    .contain {
        max-width: 1200px;
        margin: 0px auto;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "section1 section2"
            "section1 section3";
        column-gap: 1em;
        row-gap: 1em;
    }

    .card {
        margin: 70px 50px 90px 50px;
    }

    .gallery {
        grid-area: section1;
        margin-right: 0px;
    }

    .cream {
        grid-area: section2;
        /* margin-top: 40px; */
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .team {
        grid-area: section3;
        margin-left: 0px;
        margin-top: 0px;
    }


    /* ----------- End Card Section -------- */


    /* -------------- Promotional Banner Section ------------*/

    /* Used display:unset to make the title and second paragraph visible and used display:flex to align
    both the paragraphs  */

    .promotion {
        padding: 30px;
        margin: 0px 30px 0px 30px;
    }

    .conceal {
        display: unset;
        font-size: 30px;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        margin-left: 15px;
    }

    .promotion p {
        text-align: left;
        margin-top: 20px;
        font-size: 18px;
        margin-left: 15px;
    }

    p.second {
        display: unset;
        text-align: center;
    }

    .paragraph {
        display: flex;
    }

    .order {
        margin-left: 40%;
    }
}

/* ----------- End Promotional Banner Section ----------- */


/* -----------------------------

        DESKTOP STYLES 

---------------------------------*/


/* Used media queries to show responsive state  */

@media screen and (min-width: 1100px) {

    /* -------- Header Section ---------- */

/*  -Used display:none to hide the hamburger menu and display:unset on the nav to make it visible 
    - Used display Grid on the header to create a 3 column, 1 row layout to section half the nav 
      before and half the nav after the logo.
    - Used display flex on the navigation to create space between the navigation. 
    - Added a seperate color on the navigation on the hover state.
    - Added CSS transform property on the shopping cart icon font to make it rotate in its active state.
    - Used CSS Animation property and @keyframes on the "Flavor" section in the navigation to indicate 
      that it leads to the flavor page.  */

    .im-menu {
        display: none;
    }

    nav {
        display: unset;
    }

    header {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "sectiona sectionb sectionc";
        align-items: center;
    }

    .header {
        grid-area: sectionb;
    }

    .left {
        grid-area: sectiona;
    }

    .right {
        grid-area: sectionc;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-family: 'Dosis', sans-serif;
        justify-content: space-around;
        font-size: 24px;
        margin-bottom: 30px;
    }
    
    nav ul a{
        text-decoration: none;
        color: black;
    }

    nav ul a:hover{
        color:#C21C30;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .im-shopping-cart {
        width: 60%;
        color: #C21C30;
        
    }
    
    .im-shopping-cart:active{
        color: #640f19;
        transform: rotate(1turn);
        transition-duration: 0.6s;
    }

    .logo {
        width: 160px;
        margin-top: 20px;
    }

    /*  adding animtion using @keyframes */

    @keyframes move {
        0% {transform: rotate(-5deg);}
        100%{transform: rotate(5deg);}
         /* 0%{transform: translateY(-15px);}
         50%{transform: rotate(-5deg);}
         100% {transform: rotate(5deg);} */
        
      }
      
      .animate{
        color: aqua;
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
       }

    /* -------------- End Header Section ---------- */

    /* ------------- Banner Section ------------ */

    .banner-img {
        background-position: 0% 70%;
    }

    .banner-img p {
        font-size: 22px;
    }

    /* ---------- End Banner Section ------------- */

    /* ----------- Card Section ---------------- */

    .card {
        padding: 100px;
    }

    .gallery,
    .cream {
        margin-top: 100px;
    }
    
    .gallery .white-back{
        margin-top: 150px;
    }

    /* ---------- End Card Section -------------- */

    /* ------------ Promotional Banner Section ----------- */

    .promotion {

        /* margin-left: 204px;
        width: 74%;
        padding: 50px;
        display: block; */
        /* margin: 0px 200px 0px 200px; */
        padding: 40px;
    }

    .order {
        margin-left: 43%;
    }


   /* -------------- End Promotional Banner Section -------- */

}