/*  The header and Footer section will be the same as main.css */

 
/* ---------------------
     MOBILE STYLES 
----------------------*/
/* --------- CONTACT INFO SECTION --------- */

.send-hide{
    display: none;
}
.border-container{
    text-align: center;
    border: 2px solid #BCC2C7;
    padding: 20px 0px 20px 0px;
    margin: 40px;
}

h2{
    color: #DD634C;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.border-container p{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

h2, .border-container p{
    margin: 35px;
}

/* --------- END CONTACT INFO SECTION --------- */

/* --------- SEND A MESSAGE SECTION --------- */
/* Used text-align:center to align the labels and input fields in the center */
/* Added CSS transitions on the hover state of the submit anchor tag */


.send-message{
    text-align: center;

}

h3{
    font-size: 24px;
    margin: 50px;
    color: #084C4D;
    font-family: 'Passion One', cursive;
}

.label{
    text-align: left;
    margin-left: 40px;
    color: #DD634C;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
}

.input-txt{
    border: 2px solid #084C4D;
    padding: 15px;
    width: 78%;
    margin: 20px 0px 10px 0px;
    /* background-color: #fbdfd9; */
}

.input-txt-message{
    padding-bottom: 100px;
}

.send{
    margin: 40px 0px 60px 0px;
}
.send a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    border: 3px solid #084C4D;
    padding: 6px 30px 6px 30px;
    font-family: 'Playfair Display', serif;
}

.send a:hover {
    background-color: #084C4D;
    transition: background-color 0.8s;
    color: white;
}

/* ----------------------
      TABLET STYLES
-------------------------*/

/* Used Media Queries for Responsive states */

@media screen and (min-width: 700px) {

    /* Used CSS Grid to create a two column / one row layout and used the property grid-template-areas to reposition/ re-structure the input fields and contact information */
    .contact-form-tab-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "areaa areab"
        "areac areac";
    }

    .border-info{
        grid-area: areab;
    }

    .send-message-right{
        grid-area: areaa;

    }

    .send-message-bottom{
        grid-area: areac;
    }

    h3{
        text-align: left;
    }

    .input-txt-right{
        width: 73%;
    }

    .input-txt-message{
        width: 86%;
        padding-bottom: 120px;
    }
   
    .send-hide{
        display: block;
    }

   .send-hide-tab{
       display: none;
   }
   
   .contact-form-grid{
       margin-top: 30px;
   }
   
    .send{
        text-align: left;
        margin: 40px;
    }
    
}

/* -----------------------------

        DESKTOP STYLES 

---------------------------------*/


/* Used media queries to show responsive state  */

@media screen and (min-width: 1100px) {

  /* Used CSS Grid to create a two column / one row layout and used the grid-template-areas property to restructure/ reposition the input fields
   and the contact information section */

    .contact-form-tab-grid{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "areaa areab"
        "areac areab";
    }

    .contact-form-grid{
     display: flex;
     /* margin-left: 42px; */
    }

    .input-txt-right{
        margin-left: 42px;
    }

    .input-txt{
        margin-right: 30px;
    }

    .border-container{
        margin-top: 76px;
    }

    .send{
        margin-bottom: 100px;
    }

    h2{
        font-size: 22px;
    }

   
}


