/* --------------
     CSS RESET
-----------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------
     END CSS RESET
---------------------*/

.container {
    max-width: 1600px;
    margin: 0px auto;
    /* margin: 40px; */
}


/* ----------------------
      MOBILE STYLES
-------------------------*/


/* --------- HEADER ---------- */

nav{
    display: none;
}

.nav-mobile{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 40px 40px;
}

div.nav-mobile img{
   width: 30%;
}

.im-menu{
    font-size: 40px;
    color: #9FA4AE;
    margin-top: 20px;
}

/* --------- END HEADER ---------- */

/* --------- SOGAN SECTION ---------- */

.slogan{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.txt{
    margin-right: 20px;
    padding-right: 10px;
    border-right: 1px solid black;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.txt-painter{
    border: none;
}

/* --------- END SOGAN SECTION ---------- */

/* --------- RECENT WORKS SECTION ---------- */

.img-cat{
    background-color: crimson;
    max-width: 100%;
    height: 350px;
    margin: 40px;
    margin-top: 80px;
    background-image: url(../images/Cat_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1{
    font-size: 50px;
    color: white;
    font-family: 'Passion One', cursive;
    text-align: center;
    padding-top: 40%;
}

/* --------- END RECENT WORKS SECTION ---------- */

/* --------- ABOUT SECTION ---------- */

.f-color{
    color: #81B1B2;
    padding: 0px;
}

.abt-txt{
    font-size: 20px;
    margin: 20px 60px 20px 60px;
    text-align: center;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
}






