/* --------------
     CSS RESET
-----------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------
     END CSS RESET
---------------------*/

.container {
    max-width: 1400px;
    margin: 0px auto;
    /* margin: 40px; */
}


/* ----------------------
      MOBILE STYLES
-------------------------*/


/* --------- HEADER ---------- */

nav {
    display: none;
}

.nav-mobile {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 40px 40px;
}

div.nav-mobile img {
    width: 50%;
}

.im-menu {
    font-size: 40px;
    color: #9FA4AE;
    margin-top: 20px;
}


/* --------- END HEADER ---------- */

/* --------- SOGAN SECTION ---------- */

.slogan {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.txt {
    margin-right: 20px;
    padding-right: 10px;
    /* Change color of border  */
    border-right: 1px solid black;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.txt-painter {
    border: none;
    margin: 0px;
}

/* --------- END SOGAN SECTION ---------- */

/* --------- RECENT WORKS SECTION ---------- */


.hide-mbl {
    color: teal;
    display: none;
}

.img-cat {
    background-color: crimson;
    max-width: 100%;
    height: 350px;
    margin: 40px;
    margin-top: 80px;
    background-image: url(../images/Cat_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    text-align: center;
}

.hide-tab {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    text-align: center;
    padding-top: 40%;
}

.hide-tab a{
    text-decoration: none;
    color: white;
}

.hide-tab a:visited{
    color: white;
}



/* --------- END RECENT WORKS SECTION ---------- */

/* --------- ABOUT SECTION ---------- */

.f-color {
    color: #81B1B2;
    padding: 0px;
}

.abt-txt {
    font-size: 20px;
    margin: 20px 60px 20px 60px;
    text-align: center;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
}

.info {
    text-align: center;
    margin-top: 40px;

}

.info a {
    text-decoration: none;
    color: #81B1B2;
    font-size: 20px;
    border: 3px solid #084C4D;
    padding: 6px 30px 6px 30px;
    font-family: 'Playfair Display', serif;
}

/* --------- END ABOUT SECTION ---------- */

/* --------- CONTACT SECTION ---------- */

.bg-brown {
    background-color: #B59A83;
    max-width: 100%;
    height: 300px;
    margin: 40px;
    margin-top: 80px;
}

.f-contact {
    padding-top: 10%;
    color: white;
}

.click {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: #484848;
}

.info-second a {
    background-color: white;
    color: black;
}

.hide-contact {
    display: none;
}

/* --------- END CONTACT SECTION ---------- */

/* --------- FOOTER ---------- */

.bg-green {
    background-color: #084C4D;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}


.footer {
    color: white;
}

.footer-txt {
    font-size: 20px;
}

/* --------- END FOOTER ---------- */


/* ----------------------
      TABLET STYLES
-------------------------*/


@media screen and (min-width: 700px) {



    /* --------- HEADER ---------- */

    div.nav-mobile img {
        width: 50%;
    }

    /* --------- END HEADER ---------- */

    /* --------- SLOGAN ---------- */

    .txt {
        font-size: 22px;
    }

    /* --------- END SLOGAN ---------- */


    /* --------- RECENT WORKS SECTION ---------- */

    .hide-tab {
        display: none;
    }

    .hide-mbl {
        display: block;
        margin: 30px;
        font-size: 40px;
        color: #084C4D;
    }

    .img-cat {
        margin: 0px;
        width: 50%;
        margin-right: 10px;
        height: 220px;
        
    }

    .img-logo {
        background-color: crimson;
        width: 50%;
        height: 220px;
        margin-right: 10px;
        background-image: url(../images/logo\ ver\ 1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .img-plant {
        background-color: crimson;
        width: 50%;
        height: 220px;
        background-image: url(../images/Plant_.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .image {
        display: flex;
        margin: 40px;
    }

    /* --------- RECENT WORKS SECTION ---------- */

    .about {
        background-image: url(../images/dec.jpg);
        background-size: cover;
        background-repeat: no repeat;
        padding: 50px;
        margin: 60px 90px 30px 90px;
    }

    .abt-txt {
        color: white;
    }

    .info a {
        background-color: white;
        font-size: 18px;
        border: 3px solid #084C4D;
        padding: 3px 25px 3px 25px;
        font-family: 'Playfair Display', serif;
    }

    /* ---------END RECENT WORKS SECTION ---------- */

    /* --------- CONTACT SECTION ---------- */

    .f-contact {
        padding-top: 5%;
        color: #084C4D;
    }

    .click {
        display: none;
    }

    .hide-contact {
        display: block;
        text-align: center;
        margin: 20px;
        font-family: 'Playfair Display', serif;
    }

}

/* -----------------------------

        DESKTOP STYLES 

---------------------------------*/


/* Used media queries to show responsive state  */

@media screen and (min-width: 1100px) {


    /* --------- HEADER ---------- */

    nav {
        display: block;
        margin: 40px;
    }

    .im-menu {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    div.nav-mobile img {
        width: 80%;
    }

    ul {
        display: flex;
    }

    ul li {
        margin: 20px;
        font-size: 26px;
    }

    li a {
        text-decoration: none;
        color: #084C4D;
        font-family: 'Playfair Display', serif;
    }

    li a:hover{
        color:#042727 ;
    }

    /* --------- END HEADER ---------- */

    /* --------- SOGAN SECTION ---------- */

    .slogan {
        margin-top: 0px;
    }

    .txt {
        font-size: 30px;
    }

    /* --------- END SOGAN SECTION ---------- */

    /* --------- RECENT WORKS SECTION ---------- */
    .hide-mbl {
        margin-top: 80px;
    }

    .img-cat,
    .img-logo,
    .img-plant {
        height: 400px;
    }

    /* --------- END RECENT WORKS SECTION ---------- */

    /*------- ABOUT AND CONTACT SECTION ----------*/

    /* Using CSS Grid */

    .abt-con-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .about {
        padding: 0px 0px 30px 0px;
        margin: 0px 15px 40px 40px;
        box-sizing: border-box;
    }

    .bg-brown {
        background-color: #B59A83;
        height: 420px;
        margin: 0px 40px 40px 0px;
        box-sizing: border-box;
    }

    /*------- END ABOUT AND CONTACT SECTION ----------*/

    /* -------- ABOUT SECTION ---------- */

    .f-color,
    .abt-txt,
    .info {
        text-align: left;
        margin-left: 30px;
    }

    .f-color {
        margin-top: 20px;
    }

    .abt-txt {
        /* width: 60%; */
    }

    /* -------- END ABOUT SECTION ---------- */

    /* -------- CONTACT SECTION ---------- */

    section.contact p,
    .f-contact {
        text-align: left;
        margin-left: 30px;
    }

    section.contact p {
        font-size: 20px;
        /* width: 60%; */
        line-height: 26px;
    }

}

/* --------  END CONTACT SECTION ---------- */