/*  The header and Footer section will be the same as main.css */

/* ---------------------
     MOBILE STYLES 
----------------------*/

/* Added Background image for each individual portfolio catagory and aligned and spaced them accordingly */
/* added a black background on the images and decreased the opacity so the text would be visible */
/* Added animation on the photography anchor tag Using CSS libraries */


h1{
    color: #DD634C;
}

.web{
    background-image: url(../images/responsive\ -\ image\ -\ self.jpg);
}

.graphic{
 background-image: url(../images/logo\ ver\ 1.jpg);
}

.photo{
background-image: url(../images/1_JAVAID_R.jpg);
}

.draw{
background-image: url(../images/Cat_.jpg);

}

.black{
    background-color: black;
    max-width: 100%;
    height: 350px;
    background: rgba(0, 0, 0, 0.6)
}

.box-portfolio{
    max-width: 100%;
    height: 350px;
    margin: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.box-txt{
    text-align: center;
    padding-top: 40%;
}

.photo .box-txt a{
    color: #DD634C;
}

.box-portfolio a{
    text-decoration: none;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.web{
    margin-top: 80px;
}

.draw{
    margin-bottom: 80px;
}


/* ----------------------
      TABLET STYLES
-------------------------*/


@media screen and (min-width: 700px) {

    /* Used CSS Grid to create a two columns/two rows layout in order to align and position the portfolio boxes*/

    h1{
        text-align: left;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    .work-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "area1 area2"
        "area3 area4";
    }

    .web{
        grid-area: area1;
        margin-top: 40px;
    }

    .graphic{
        grid-area: area2;
    }

    .photo{
        grid-area: area3;
    }

    .draw{
        grid-area: area4;
    }


}

/* -----------------------------

        DESKTOP STYLES 

---------------------------------*/


/* Used media queries to show responsive state  */

@media screen and (min-width: 1100px) {

    .box-portfolio{
        height: 480px;
    }
    .black{
        height: 480px;
    }

    .box-portfolio a{
        font-size: 38px;
    }
}




