/*Used Google Font 'Montserrat' for the font-family */
html {
    font-family: 'Montserrat', sans-serif;
    color: #333131;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f7f7ff;
}

/* ------------------------
      Mobile Styles 
---------------------------*/


/* ----- Header ----- */
/* Decreased the size of the logo and used appropriate font-sizes for the h1 and Paragraph */
.logo {
    width: 200px;
    padding-left: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 90px;
    padding-left: 20px;
    box-sizing: border-box;
    margin: 0px;
}

header p {
    font-size: 2.2rem;
    padding-left: 20px;
    box-sizing: border-box;
    margin: 0px;
    margin-top: 10px;
}

/* ----- End Header ----- */


/*----- Scooter Image----- */

.scooter {
    /* Decreased the size of the scooter image */
    width: 90%;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* ----End Scooter Image--- */

/* ------ Apply Now Section ----- */

/* Aligned the text (h2, P) to the left side of the card, took away the border for the input area and changed the font color of the placeholder text. 
Added a 'box-shadow' property to create a shadow under the card. */
.card {
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 20px;
    margin: 0px 55px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2 {
    text-align: left;
    padding-left: 30px;
    font-size: 2.5rem;
    margin: 0px;
}

section p {
    text-align: left;
    padding-left: 30px;
    margin: 10px 0px;
    box-sizing: border-box;
}

.input-txt {
    width: 80%;
    background-color: #f7f7ff;
    border: none;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.input-txt::placeholder {
    color: #c2bdbd;
}

.check {
    padding: 20px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 20px;
}

.box {
    width: 20px;
    height: 20px;
}


.drive {
    background-color: #57eeab;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #333131;
    display: block;
}

.anchor {
    margin-top: 40px;
}

.anchor a {
    color: #ff8480;
}

/* ----- End Apply Now Section -----  */


/* ----- Footer ----- */

footer {
    background-color: #fffd8c;
    margin-top: 30px;
    padding: 20px;
}

h3 {
    padding-left: 25px;
    font-size: 1.2rem;
}

div.cal input {
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#hours {
    width: 20%;
    margin-left: 25px;
}

#city {
    width: 55%;
}

.calculate {
    font-weight: bold;
    color: #f7f7ff;
    background-color: #ff8480;
    border-radius: 10px;
    padding: 10px 70px;
    font-weight: bold;
    font-size: 20px;
    display: block;

}

/* Aligned the 'Calculate button' and the 'Social Media Icons' in the center  */
.cal-box {
    text-align: center;
}

.icon {
    margin-top: 20px;
    text-align: center;
}

div.icon img {
    margin: 0px 20px;
}

/* ------ End Footer ------- */



/*  ---------------------------
       Tablet Styles 
------------------------------*/

/* Added Media Queries for a Responsive layout - Tablet  */
@media screen and (min-width: 768px) {

    /* ----- Header ------ */
    header {
        margin: 0px 50px;
    }

    /* ----End Header ------ */

    .scooter {
        width: 70%;
        margin-left: 15%;
    }

    /* ----- Apply Now Section----- */

    section p {
        font-size: 2rem;
    }

    .input-txt {
        width: 90%;
    }

    div.check label {
        font-size: 18px;
    }

    .drive {
        /* padding: 20px 170px; */
        font-size: 28px;
        /* display: block; */
    }

    .anchor {
        font-size: 1rem;
        text-align: center;
    }

    /* ------ End Apply Now Section------- */

    /* ------ Footer------- */
    div.cal p {
        font-size: 1rem;
    }

    .calculate {
        padding: 5px 40px;
    }

    /* Used Flexbox to position the 'Input area' and the 'Calculate button' on the same line  */
    .inline {
        display: flex;
    }

    #hours {
        width: 10%;
    }

    #city {
        width: 30%;
    }

    div.cal input {
        margin-right: 10px;
    }
}

/* ------ End Footer ----- */


/* ----------------------
     Desktop Styles 
------------------------*/

/* Added Media Queries for a Responsive Layout - Desktop */
@media screen and (min-width: 1200px) {

    /*  Used 'display: none' on the img tag and added the Scooter image as background image in the container and set the conatiner to take the max width of the browser*/
    .container {
        background-image: url(../images/bg-image/scooter.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
    }

    .scooter {
        display: none;
    }

    /* Used CSS Grid to divide the 'Header' 'Main' and 'Footer' in appropriate sections  */
    .container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            " section1 section2"
            " section3 section3";
    }

    header {
        grid-area: section1;
        margin-bottom: 350px;
    }

    main {
        grid-area: section2;
        justify-self: center;
    }

    footer {
        grid-area: section3;
    }

    /* ------ Header------- */

    .logo {
        margin-bottom: 50px;
    }
    h1{
        /* font-size: 80px; */
    }
    header p{
        /* font-size: 2rem; */
    }

    /* -----End Header------ */


    /* ----Apply Now Section----- */

    .card {
        width: 120%;
        margin: 0px;
        margin-top: 200px;
    }

    .input-txt {
        width: 90%;
    }

    /* ----- End Apply Now section------ */

    /* ------Footer------- */

    /* Used Flexbox to position the 'input area' 'calcualte button' and 'icons' on the same line  */
    .icon-right {
        display: flex;
        flex-direction: row;
    }

    .icon {
        margin: 0px;
        margin-left: 39%;
    }

}

/* -------- End Footer-----  */